{% extends 'base.html'%}
{% block content %}


<section class="vh-100 d-flex align-items-center my-5 py-5" id="login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4 bg-light text-center shadow-sm">
                <h2 class="py-3 ">Login Form</h2>
                <form action="{% url 'login-page' %}" id="login-form" method="post">
                    {% csrf_token %}
                    
                    <div class="py-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" name="username" id="username" class="form-control">
                    </div>
                    
                    <div class="py-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" id="password" class="form-control">
                    </div>
                    
                </form>
                <button type="submit" class=" my-2 btn btn-primary btn-lg">Login</button>
            </div>
        </div>
    </div>
</section>

{% endblock %}